/* 
class lists

==medius.ui==
medius_main_box

==button_widget.cc==
medius-button-label-box
medius-button-image
medius-button
medius-button-label

==row_item.cc==
medius-button-has-expander
medius-row-box
medius-row-expander-box
medius-row-expander
medius-row-expander-button-box
medius-row-expander-button
medius-row-expander-widget-box 

==list_widget.cc==
medius-list-box
medius-list-item-box
medius-list-item-label
medius-list-item-button

==slider_widget.cc==
medius-slider-box
medius-slider-image
medius-slider-button
medius-slider-scale
medius-slider-box-with-label
medius-slider_label
*/


.medius-button {
    /* min-height:var(--rounded-corner); */
    border-radius: var(--rounded-corner) var(--rounded-corner) var(--rounded-corner) var(--rounded-corner);
}

.medius-button-has-expander {
    border-radius: var(--rounded-corner) 0 0 var(--rounded-corner);
    border-right: none;
}

.medius-row-expander-button {
    border-radius: 0 var(--rounded-corner) var(--rounded-corner) 0;
    border-left: none;
    min-width: 10px;
}

.medius-button-has-expander:focus,
.medius-row-expander-button:focus {
    outline: none;
}

.medius-slider-popover-button {
    min-width: 10px;
}
